* {
  word-wrap: break-word;
  outline: none;
}

body {
	@include transition( left .25s ease-in-out );

	background: #333;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
	left: 0;

	&.basic {
		color: #666;
		font-family: "Helvetica Neue", Helvetica, sans-serif;
	}
}

.basic {
	h1, h2, h3, h4, h5, h6 {
		color: #555;
		font-weight: normal;
		font-family: 'Poly', serif;

		a {
			color: #555;
		}
	}

	a {
		color: #428BCA;

		&:hover {
			color: #2A6496;
		}
	}

	.btn,
	.btn:hover {
		color: #fff
	}
}

pre {
	margin: 1em 0;
}

.alert {
	font-size: 14px;
}

blockquote {
	border-left-color: #ccc;
}

img {
	max-width: 100%;
	height: auto;
}

.image-anchor {
	display: block;
}

table {
	width: 100%;
	background: #fff;

	td, th {
		padding: 8px;
		border: 1px solid #ddd;
		text-align: left;
	}

	th {
		background: #eee;
		font-weight: bold;
	}

	caption {
		padding: 1em 0;
		text-align: center;
	}
}

dt {
	font-weight: bold;
}

dd {
	line-height: 1.4;
	margin: 4px 0 0;
	padding: 0 0 .5em 0;
}

input, textarea {
	@include border-radius(6px);
	@include box-sizing(border-box);

	padding: 8px;
	border: 1px solid #bbb;
	font-size: 14px;
	color: #555;
}

/* =Videos
-------------------------------------------------------------- */
video {
	max-width: 100%;
	height: auto;
	}

.responsive-video-wrapper {
	width: 100%;
	position: relative;
	padding: 0;
}

.responsive-video-wrapper iframe,
.responsive-video-wrapper object,
.responsive-video-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* =Assistive Text
-------------------------------------------------------------- */
.screen-reader-text,
.remove {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* =Header
-------------------------------------------------------------- */
#header {
	position: relative;
	float: left;
	width: 100%;
}

.title-wrap,
.title-logo-wrap,
#site-logo {
	float: left;
	clear: both;
}

.title-wrap {
	margin-bottom: 40px;
}

#site-title {
	font-size: 72px;
	line-height: 1;
	margin-top: 20px !important;

	.basic & {
		font-family: 'Euphoria Script', cursive;
	}
}

#site-logo {
	margin: 30px 0 10px;
}

#site-title,
#site-description {
	margin: 0;
	padding: 0;
}

#site-title a,
#site-description {
	color: #fff;
	text-decoration: none;
}

#site-description {
	margin: 0;
	font-size: 16px;
	line-height: 1;
}

#header-img {
	display: block;
}

.header-image-anchor {
	clear: both;
}

.tri-top {
	background: url(library/images/tri.png) repeat-x top left;
	margin: -10px auto 0;
	float: left;
	width: 100%;
	height: 10px;
	position: relative;
	z-index: 10;
	clear: both;
}

.header-widget.widget_search {
	float: right;
	position: relative;
	margin-top: 50px;

	&:after {
		content: "\f002";
		position: absolute;
		top: 4px;
		right: 10px;
		width: 15px;
		height: 20px;
		display: block;
		font-family: FontAwesome;

		.basic & {
			content: "\f021";
		}
	}

	.search-field {
		@include border-radius(20px);
		@include transition( width .25s ease-in-out );

		background: #000;
		color: #fff;
		border: 0;
		padding: 5px 30px 5px 15px;
		width: 110px;

		&:focus {
			width: 260px;
		}
	}
}

.search-form label,
.search-field {
	width: 100%;
}

.search-submit {
	display: none;
}

.rss-link {
	position: absolute;
	right: -30px;
	bottom: -12px;
	z-index: 50;

	@include breakpoint(tablet) {
		display: none;
	}
}

/* =Main Navigation
-------------------------------------------------------------- */
#site-navigation,
#site-navigation li {
	@include background-image(linear-gradient(#222222, #6B6D6F));
}

#site-navigation {
	clear: both;
	float: left;
	width: 100%;
	height: 50px;

	@include breakpoint(tablet) {
		height: auto;
	}

	> ul > li {
		@include transition( top .25s ease-in-out );
	}

	ul {
		padding: 0;
		list-style: none;

		@include breakpoint(tablet) {
			margin: 0;
		}

		ul {
			@include border-radius(6px);
			@include box-shadow( 0 0 5px black(0.5) );
			@include transition( opacity .25s ease-in-out );

			opacity: 0;
			position: absolute;
			left: -9999px;
			min-width: 160px;
			z-index: 99999;
			background: #fff;
			margin-top: -20px;
			padding: 5px 0;

			&:before {
				content: '';
				display: inline-block;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid #ccc;
				border-bottom-color: rgba(0, 0, 0, 0.2);
				position: absolute;
				top: -7px;
				left: 14px;
			}

			&:after {
				content: '';
				display: inline-block;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-bottom: 6px solid #fff;
				position: absolute;
				top: -6px;
				left: 15px;
			}

			li {
				background: #fff;
				border: 0;
				height: auto;
				float: none;

				&:hover {
					top: 0;
				}

				a {
					color: #222;
					padding: 5px 10px;
					font-size: 14px;
					text-transform: none;
					white-space: nowrap;
					display: block;

					&:hover {
						background: #0081C2;
					}
				}

				&:after {
					content: none;
				}

				&:hover > ul {
					left: 100% !important;
					top: 0;
				}

				a:not(:last-child):after {
					content: "\f0d7";
					margin: 2px 0 0 10px;

					.basic & {
						content: "\f026";
					}
				}

				li {
					clear: both;
					width: 100%;

					&:hover {
						background: #000;
					}
				}
			}
		}
	}

	li {
		height: 60px;
		border-top: 1px solid #333;
		border-right: 1px solid #222;
		float: left;
		position: relative;
		top: 0;

		&:after {
			content: "";
			width: 1px;
			height: 100%;
			border-right: 1px solid #666;
			position: absolute;
			top: 0;
			right: 0;
			display: block;
		}

		&:hover {
			top: -10px;

			> ul {
				opacity: 1;
				left: 5px;
			}
		}

		a {
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			padding: 15px 25px 30px;
			display: block;

			&:hover {
				color: #fff;
				text-decoration: none;
			}

			&:not(:last-child):after {
				content: "\f0d7";
				font-family: FontAwesome;
				float: right;
				margin-left: 10px;

				.basic & {
					content: "\f024";
				}
			}
		}
	}
}

/* =Mobile Navigation
-------------------------------------------------------------- */
#mobile-menu {
	margin-left: -15px;
	margin-right: -15px;
	background: #1b1b1b;
	display: none;
	text-align: right;
	padding: 5px 10px;
	border-bottom: 1px solid #000;
	}

	#mobile-menu a {
		width: 45px;
		line-height: 35px;
		padding-top: 4px;
		margin: 0 0 0 5px;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		text-decoration: none;
		font-size: 20px;
		border-radius: 8px;
		color: #ffffff;
		background: #000;
		box-shadow: inset 1px 1px 1px #000, 1px 1px 1px #333;
		text-align: center;
		display: inline-block;
		}

		#mobile-menu a:hover {
			background-color: #333;
			}

#mobile-menu a.left-menu {
	float: left;
	margin: 0 5px 0 0;
	}

#drop-down-search,
#drop-down-search.open {
	clear: both;
	display: none;
	padding: 14px;
	background: #333;
}

	#drop-down-search .search-form {
		padding-right: 18px;
	}

	#drop-down-search .search-field {
		width: 100%;
		border: 0;
	}

	#drop-down-search .search-submit {
		display: none;
	}

@include breakpoint(tablet) {
	.header-widget.widget_search {
		display: none;
	}

	#mobile-menu,
	#drop-down-search.open {
		display: block;
	}

	#nav-wrapper {
		position: absolute;
		top: 0;
		left: -15px;
		right: -15px;
		z-index: 99;
		max-height: 340px;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		display: none;
	}

	#nav-wrapper.menu-open,
	#site-navigation li.open > ul {
		display: block;
	}

	#nav-wrapper .nav-content {
		padding-bottom: 44px;
		position: relative;
	}

	#site-navigation {
		ul,
		ul ul,
		li {
			width: 100%;
			clear: both;
			float: none;
			margin: 0 !important;
		}

		 li {
			border: 0;
			height: auto;
		}

		ul ul {
			display: none;
			position: static;
			opacity: 1;
			padding: 0;
			border-radius: 0;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;

			&:before,
			&:after {
				display: none;
			}

			li a {
				padding-left: 30px !important;
			}

			ul li a {
				padding-left: 50px !important;
			}
		}

		li a {
			background: #333;
			border-bottom: 1px solid #222;
			border-top: 1px solid #444;
			padding: 8px 16px !important;
			color: #fff !important;
			display: block;
			font-size: 16px;
			text-transform: none !important;

			&:hover {
				background: #444;
			}
		}

		li:hover {
			top: 0 !important;
		}

		ul ul li a:not(:last-child):after {
			content: "\f0d7";
		}
	}
}

/* =Main elements
-------------------------------------------------------------- */
#main {
	clear: both;
	background: #fff;
	position: relative;
	z-index: 10;
	margin-bottom: 54px;
	padding-bottom: 20px;

	> .row {
		margin-left: auto;
		margin-right: auto;

		.search &,
		.archive & {
			max-width: 100%;
		}
	}

	.home & > .row {
		max-width: 100% !important;
	}

	&:after {
		content: "";
		width: 100%;
		display: block;
		background: url(library/images/bottom.png) no-repeat center top;
		height: 54px;
		position: absolute;
		bottom: -54px;
		left: 0;
	}
}

#primary {
	@include breakpoint(tablet) {
		float: none !important;
	}

	&.centered {
		float: none !important;
		margin-left: auto;
		margin-right: auto;
	}
}

/* =Article
-------------------------------------------------------------- */
article {
	margin: 40px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;

	.page & {
		margin-bottom: 0;
	}

	.time {
		color: inherit;
	}
}

.entry-title {
	font-size: 38px;
	margin: 0;

	body.page & {
		margin-bottom: 20px;
	}

	.basic &,
	.basic & a {
		color: #428BCA;

		& .text-muted {
			color: #7EBFF6;
		}
	}

	.basic & a:hover {
		color: #2A6496;

		& .text-muted {
			color: #629FD2;
		}
	}
}

.entry-meta {
	font-size: 14px;
	line-height: 1;
	margin: 5px 0 20px;

	.basic &,
	.basic & a {
		font-family: "Helvetica Neue", Helvetica, sans-serif;
	}
}

.post-category,
.post-format {
	text-transform: uppercase;
	font-size: 14px;
	margin: 0 0 3px;

	i {
		margin-right: 5px;
		opacity: 0.9;
	}

	.basic & {
		font-weight: 300;
	}
}

.post-format {
	text-align: left;
}

.entry-content .lead {
	position: relative;
	font-size: 18px;
}

.more-link-p,
footer.entry {
	clear: both;
}

.edit-link {
	margin: 1em 0;
}

.more-link-p {
	margin: 2em 0 1em;
}

.pullquote {
	@include box-shadow( 0 1px 0 #eee, inset 0 1px 0 #eee );

	color: #444;
	border: 0;
	padding: 1em 0;
	margin: 1em 1.625em 1em 0;
	text-align: right;
	width: 33%;
	float: left;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;

	p {
		font-size: 21px;
		line-height: 1.4;
		font-weight: bold;
	}

	&.alignright {
		margin: 1em 0 1em 1.625em;
		text-align: left;
		float: right;
	}

	@include breakpoint(phone) {
		width: 100%;
		margin: 0 0 .5em 0;
		float: none;
		text-align: left;
	}
}

.columns {
	@include breakpoint(phone) {
		-webkit-column-count: 1 !important;
		-moz-column-count: 1 !important;
		column-count: 1 !important;
	}
}

/* =404
-------------------------------------------------------------- */
article.error404 {
	.entry-title {
		font-size: 500%;
		text-align: center;
		margin-bottom: 10px;

		@include breakpoint(phone) {
			font-size: 400%;
		}
	}

	.entry-content {
		text-align: center;
		font-size: 200%;
		line-height: 1.2;
		text-transform: uppercase;

		@include breakpoint(phone) {
			font-size: 150%;
		}
	}
}

/* =Aside
-------------------------------------------------------------- */
.format-aside p {
	margin-top: 0;
	}

/* =Quote
-------------------------------------------------------------- */
.format-quote {
	.entry-content {
		padding-left: 70px;
		font-style: italic;
	}

	blockquote,
	blockquote p {
		font-size: 36px;
		line-height: 1.2;
		margin: 0;
	}

	i.quote {
		color: #ccc;
		display: block;
		font-size: 60px;
		position: relative;
		float: left;
	}

	blockquote {
		border: 0;
		padding: 0;
		font-size: 18px;
	}

	cite {
		margin-top: 5px;
		font-size: 24px;
		text-align: right;
		display: block;
	}
}

/* =Status
-------------------------------------------------------------- */
.format-status {
	.post-format {
		margin-bottom: 10px;
	}

	.avatar {
		float: left;
		margin: 0 17px 0 0;
	}

	.author {
		font-size: 18px;
		margin: 0;
	}

	.entry-content {
		padding-left: 77px;
		clear: none;
		display: inherit;

		p {
			margin-top: 0;
		}
	}

	time {
		font-size: 13px;
		color: #666;
		margin: 5px 0 10px;
		display: inline-block;
	}
}

/* =Link
-------------------------------------------------------------- */
.format-link {
	blockquote {
		padding: 0 15px;
	}

	p {
		font-size: 16px;
		margin: 0;
	}

	footer.entry p {
		margin: 1em 0;
	}

	.entry-content a {
		font-size: 24px;
	}
}

/* =Gallery
-------------------------------------------------------------- */
.gallery {
	margin: 20px -20px;

	> p {
		margin: 0;
		height: 0;
	}
}

.gallery-item {
	margin-bottom: 20px;
	float: left;
	padding: 0 20px;

	.gallery-icon img {
		@extend .img-thumbnail;

		width: 100%;
	}

	.gallery-caption {
		display: none;
	}

	.gallery-columns-1 & {width:100%}
	.gallery-columns-2 & {width:50%}
	.gallery-columns-3 & {width:33.33%}
	.gallery-columns-4 & {width:25%}
	.gallery-columns-5 & {width:20%}
	.gallery-columns-6 & {width:16.66%}
	.gallery-columns-7 & {width:14.28%}
	.gallery-columns-8 & {width:12.5%}
	.gallery-columns-9 & {width:11.11%}

	.gallery & {
		@include breakpoint(phone) {
			width: 100%;
			margin-bottom: 20px;
		}
	}
}

/* =Tags
-------------------------------------------------------------- */
.tags {
	font-size: 14px;
	margin-bottom: 0;

	span {
		margin-right: 5px;
	}

	a {
		@include border-radius(4px);

		background: #ddd;
		padding: 2px 6px;
		border: 1px solid #ccc;
		font-size: 90%;
		margin: 0 2px 5px 0;
		color: #666;
		display: inline-block;
		text-decoration: none;

		&:hover {
			background: #ccc;
		}
	}
}

/* =Pagination
-------------------------------------------------------------- */
.navigation {
	padding: 0 0 40px;
	overflow: hidden;

	@include breakpoint(phone) {
		padding: 40px 0;
	}

	.infinite-scroll & {
		display: none;
	}

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
	}
}

.infinite-loader .spinner {
	left: 50% !important;
}

#infinite-handle {
	padding: 50px 0;
	clear: both;
	width: 100%;
	background: #ccc;
}

#infinite-handle span {
	@include border-radius(3px);

	color: #fff;
	width: 200px;
	margin: auto;
	display: block;
	text-align: center;
	font-size: 18px;
	padding: 16px 0;
	text-transform: uppercase;

	&:hover {
		background: #D43F3A;
	}
}

#posts-pagination {
	.next,
	.previous {
		max-width: 48%;
	}

	a {
		white-space: normal;
		display: block;
		text-align: left;
	}

	.next a {
		text-align: right;
	}
}

/* =Comments
-------------------------------------------------------------- */
.comments-area {
	margin-top: 30px;
	clear: both;
	float: left;
	width: 100%;

	.commentlist,
	.children {
		list-style: none;
		padding: 0;
	}
}

.commentlist {
	.comment,
	.pingback {
		padding-bottom: 20px;
	}

	.comment {
		.avatar {
			float: left;
		}

		.comment-author,
		.comment-meta,
		.comment-text {
			padding-left: 75px;
		}

		.comment-author {
			font-size: 20px;
		}

		.comment-meta {
			font-size: 13px;
			color: #888;
			font-style: italic;
		}

		.comment-reply-link {
			@include border-radius(6px);

			padding: 6px 12px;
			font-size: 13px;
			color: #fff;
			margin: 0;
			background: #bbb;

			&:hover {
				text-decoration: none;
				background: #aaa;
			}
		}
	}

	.children {
		margin: 20px 0 0;
		padding-left: 10px;

		> .comment {
			padding-left: 23px !important;
		}

		.comment {
			border-left: 1px solid #e6e6e6;
			position: relative;

			&:before {
				width: 12px;
				height: 12px;
				display: block;
				background: #fff;
				@include border-radius(12px);
				border: 1px solid #e6e6e6;
				position: absolute;
				top: 30px;
				left: -6px;
				content: "";
				z-index: 60;
			}

			&:after {
				width: 100px;
				height: 1px;
				border-top: 1px solid #e6e6e6;
				display: block;
				position: absolute;
				top: 36px;
				left: -5px;
				content: "";
				z-index: 50;
			}
		}
	}

	.comment-body {
		padding: 20px;
		background: #f2f2f2;
		border: 1px solid #e6e6e6;
		display: block;
		z-index: 100;
		position: relative;
	}

	.bypostauthor > .comment-body {
		border: 10px solid #ddd;
		}

	pre {
		background: #fff;
		border-color: #e6e6e6;
	}
}

#cancel-comment-reply-link {
	font-size: 14px;
	font-weight: normal;
	float: right;
}

#comment-nav-above,
#comment-nav-below {
	margin: 10px 0;
	overflow: hidden;

	.nav-previous,
	.nav-next {
		display: inline-block;
		width: 50%;
		float: left;
	}

	.nav-next {
		text-align: right;
	}
}

.comment-form-comment textarea {
	clear: both;
	width: 100%;
}

#respond #submit {
	color: #fff;
	padding: 10px 20px;
	margin-top: 10px;

	&:hover {
		background: #aaa;
	}
}

/* =Archives
-------------------------------------------------------------- */
#archive-header {
	border-bottom: 2px solid #ccc;
	padding-bottom: 15px;
}

.page-title {
	margin: auto;
	padding: 40px 0 0;
	width: 100%;
	font-size: 28px;

	a {
		font-family: inherit;
	}
}

.archive-meta {
	color: #999;
	margin: 0;
	font-size: 13px;
	font-weight: normal;
	padding: 5px 0 0;

	p {
		margin: 0;
	}
}


/* =Sidebar
-------------------------------------------------------------- */
#secondary,
#tertiary {
	margin: 40px 0;

	@include breakpoint(tablet) {
		clear: both;
		float: left;
		width: 100%;
	}
}

.widget {
	width: 100%;
	font-size: 90%;
	margin-bottom: 30px;

	select {
		max-width: 100%;
	}

	ul {
		padding: 0 0 0 20px;
	}

	.search-form label,
	.search-field {
		width: 100%;
	}

	.tagcloud {
		padding: 0 0 20px;
		text-align: center;
	}
}

.widget-title {
	font-size: 22px;
	margin: 0 0 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid #ddd;
}

.widget_rss {
	.rsswidget.image-anchor {
		display: inline-block;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			padding-bottom: 15px;

			.rsswidget {
				font-size: 18px;
				line-height: 1.1;
				display: block;

				&:hover {
					margin: 0 !important;
				}
			}

			.rssSummary {
				margin-top: 5px;
			}

			.rss-date {
				font-size: 12px;
				color: #888;
			}

			cite {
				font-style: italic;
			}
		}
	}
}

/* =Footer Widgets
-------------------------------------------------------------- */
.line.active {
 	border-top: 1px solid #222;
 	border-bottom: 1px solid #444;

	width: 100%;
	display: block;
	margin-bottom: 20px;
}

.footer-widget {
	margin: 10px 0 30px;
	font-size: 14px;

	#calendar_wrap {
		color: #444;
		text-shadow: none;

		caption {
			color: #fff;
			text-shadow: 1px 1px 0 #000;
			margin-bottom: 10px;
		}
	}

	ul {
		list-style: none;
		padding: 5px 0 0;

		li {
			margin-bottom: 5px;
		}
	}

	.widget-title {
		color: #aaa;
		padding: 10px 0 5px;
		text-transform: uppercase;
		font-size: 16px;
		border: 0;
	}
}

/* =Footer
-------------------------------------------------------------- */
#footer {
	color: #7B7B7B;
	font-size: 13px;
	position: relative;
	z-index: 100;
	clear: both;

	.row {
		margin-bottom: 0;
	}

	a,
	a .text-muted {
		color: #999;
	}

	#footer-content {
		padding: 15px 15px 20px;

		span {
			@include breakpoint(tablet) {
				display: block;
				float: none !important;
				text-align: center;
			}
		}
	}

	.copyright {
		@include breakpoint(tablet) {
			margin-bottom: 10px;
		}
	}

	.credit-link {
		position: relative;
	}

	.icon-leaf {
		@include rotate(-5deg);

		font-size: 28px;
		position: absolute;
		top: -4px;
		left: -35px;

		@include breakpoint(tablet) {
			display: none;
		}
	}
}

/* =Author Info shortcode
-------------------------------------------------------------- */
#author-info {
	overflow:hidden;

	.author-text {
		padding-left:90px;
	}

	h4 {
		margin:0 0 5px;
		font-size:18px;
	}

	.author-text p {
		font-size:14px;
		line-height:1.4;
	}

	img {
		float:left;
		border-color:#e2e2e2;
		background:#fff;
	}
}

/* =Widetext shortcode
-------------------------------------------------------------- */
.widetext {
	visibility:hidden;
	margin:0;
	line-height:1;
}

.wtext {
	white-space:nowrap;
	display:inline-block;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
	height: 100%;
}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* =bbPress
-------------------------------------------------------------- */
#bbpress-forums .avatar {
	@include box-sizing( content-box );
}

.bbp-author-avatar {
	display: inline-block;

	img {
		margin-bottom: 0 !important;
	}
}

/* =Bootstrap fixes
-------------------------------------------------------------- */
.tab-content {
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
	border-top: 0;
}

.carousel-inner h3 {
	color: #fff;
}

.btn .text-muted {
	color: inherit;
}